@import '../../styles/theme';

.mobile_menu {
    height: 100vh;
    width: 100vw;
    background-color: $primary_color;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-1000px);
    transition: 200ms;
}

.show_menu {
    transform: translateY(0px) translateZ(2000px);
}