.hide {
    display: none;
}

.reveal {
    transform: translateY(0px);
    // transform: scale(1);
}

.conceal {
    transform: translateY(800px);
    // transform: scale(0);
}

.why_we_exist {
    min-height: 600px;
    min-width: 100vh;
    // background-color: blueviolet;
    transition: 80ms all;
}